html, body {
  font-family: 'Roboto Slab', serif;
}
.container{
  width: 950px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
h1{
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin-bottom: 50px;
}
.albums{
  width: 300px;
}
.albums ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.albums ul li {
  padding: 0;
  margin: 0;

  border-bottom: 1px solid aliceblue;
   margin-bottom: 10px;

}
.albums ul li:hover,.btnActive{
  background-color: aliceblue;
}

.album-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.photos {
  width: 500px;
}
.no-album-selected{
  font-size: 20px;
  text-align: center;
  align-self: center;
  flex: 1;
}
.filter{
  margin: auto;
}
.filter input {
  width: 300px;
  font-size: 18px;
  padding: 10px;
  margin-left: 40px;
}
.filter li {
  border-bottom: 10px;
}