.container{
  width: 1100px;
  margin: auto;
  display: flex;
}
.albums{
  width: 300px;
}
.albums ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.albums ul li {
  padding: 0;
  margin: 0;

  border-bottom: 1px solid aliceblue;
   margin-bottom: 10px;

}
.albums ul li:hover{
  background-color: aliceblue;
}
.album-title{
  font-size: 20px;
  font-weight: bold;
}
.userEmail {
  font-size: 16px;
  color: slategray;
}
.photos ul li {
  cursor: text;
}
.no-user-selected{
  align-self: center;
}
.filter{
  margin-bottom: 15px;
}
.filter input {
  width: 100%;
  font-size: 18px;
  padding: 10px;
}
.filter li {
  border-bottom: 10px;
}